@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

$font-sizes: (
  14: 0.875rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  24: 1.5rem,
  72: 4.5rem,
  144: 9rem
);

$font-weights: (
  regular: 400,
  bold: 700
);