// Paleta de cores
$color-light-gray: #F5F7FA;
$color-gray: #E1E3E5;
$color-medium-gray: #A5A6A8;
$color-dark-gray: #555657;
$color-dark: #414142;
$color-darker: #2D2D2E;
$color-almost-black: #19191A;
$color-black: #0D0D0D;

// Gradientes
$gradient: linear-gradient(90deg, #1561D2 0%, #42A5F5 100%);
