// Paleta de cores
$c1: #F5F7FA;
$c2: #E1E3E5;
$c3: #A5A6A8;
$c4: #555657;
$c5: #414142;
$c6: #2D2D2E;
$c7: #19191A;
$c8: #0D0D0D;

// Gradientes
$gradient: linear-gradient(90deg, #1561D2 0%, #42A5F5 100%);

// Tamanhos
$border-radius: 5px;