/* Apresentação */

section {
   max-width: var(--max-width);
   margin: auto;
   padding: 0 2rem;
}
.apresentacao {
   display: flex;
   justify-content: center;
   flex-wrap: wrap-reverse;
   gap: 5rem;
   height: 85vh;
}
.apresentacao-cabecalho {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-self: center;
   gap: 0.5rem;
   line-height: 2.5rem;
}
.boas-vindas {
   font-size: 1rem;
   font-weight: 600;
}
h1 {
   font-size: 2.5rem;
}
.web {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--color-secundary);
}

/* Botões */

.botoes {
   display: flex;
   justify-content: center;
   gap: 1rem;
}
.btn {
   font-weight: 600;
   transition: all 300ms ease;
   padding: 1rem;
   width: 8rem;
   border-radius: 2rem;
}
.btn-cv,
.btn-contato {
   border: var(--color-btn-border) 0.1rem solid;
}
.btn:hover {
   cursor: pointer;
}
.btn-cv,
.btn-contato:hover {
   background: var(--color-btn);
   color: var(--color-text-btn);
}
.btn-contato {
   background: none;
}
.btn-contato:hover {
   border: var(--color-btn-border-w) 0.1rem solid;
}

/* Redes Sociais */

.network {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   margin: 0.5rem 0 0 0;
}
.network a {
   color: var(--color-icon)
}
.network a .bi {
   background: var(--background-devweb-icon);
   display: flex;
   align-items: center;
   gap: 0.5rem;
   padding: 0.5rem;
   border-radius: 50%;
   font-size: 1rem;
   transition: transform 0.7s;
   cursor: pointer;
}
.network a .bi-instagram:hover {
   background: var(--background-instagram);
}
.network a .bi-linkedin:hover {
   background: var(--background-linkedin);
}
.network a .bi-github:hover {
   background: var(--background-github);
}
.network a .bi:hover {
   transform: scale(1.2);
}

/* Minha Foto */

.apresentacao-img {
   display: flex;
   align-self: center;
}
.apresentacao-img img {
   height: 25rem;
   width: 25rem;
   border-radius: 50%;
}

/* Sessão Sobre mim */

.titulo-pagina {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 1.5rem 0 1.5rem 0;
}
.destaque {
   font-size: 1rem;
   color: var(--color-secundary);
}
.texto-destaque {
   font-size: 2rem;
   text-transform: uppercase;
}
.sobre-mim {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 2rem;
}

/* Minha Foto */

.sobre-mim-img {
   display: flex;
   justify-content: center;
   align-self: center;
}
.sobre-mim-img img {
   height: 650px;
   width: 400px;
}

/* Caixa do lado direito */

.sobre-mim-cabecalho {
   width: 700px;
   display: flex;
   flex-direction: column;
   text-align: justify;
   align-self: center;
   gap: 3rem;
   border-radius: 1rem;
}

/* Curso e Habilidades */

.dados {
   display: flex;
   flex-direction: row;
   text-align: center;
   gap: 0.5rem;
}
.curso,
.habilidades {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1.5rem;
   border: 0.1rem solid gray;
   border-radius: 0.5rem;
   width: 350px;
   height: 165px;
}
.curso .bi,
.habilidades .bi {
   font-size: 2rem;
}
.curso h3,
.habilidades h3 {
   font-size: 1.25rem;
}
.curso span {
   font-size: 1.25rem;
}
.linguagens {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0.5rem;
   margin: 0.1rem 0 0 0;
}
.linguagens img {
   height: 2rem;
}

/* Carta de apresentação */

.sobre-mim-text p {
   color: var(--color-primary);
   font-size: 1.1rem;
}