/* Comuns - Mobile e Tablet */

@media (width <=1200px) {

    /* Sessáo - Apresentação */

    .apresentacao {
        gap: 2rem;
    }
    .apresentacao-cabecalho {
        line-height: 1.5rem;
    }
    .apresentacao-img img {
        height: 16rem;
        width: 16rem;
    }

    h1 {
        font-size: 1.8rem;
    }
    .web {
        font-size: 1.3rem;
    }

    /* Botões - Contato e CV */

    .btn-contato:hover {
        background: transparent;
        color: var(--color-primary);
    }
    .btn-contato:hover {
        border: var(--color-btn-border) 0.1rem solid;
    }

    /* Sessão - Sobre Mim */

    .sobre-mim {
        width: 100%;
    }
    .sobre-mim-cabecalho {
        gap: 1.5rem;
    }
    .sobre-mim-img {
        display: none;
    }
    .curso,
    .habilidades {
        width: 100%;
        padding: 1.5rem;
    }


    /* Redes Sociais */

    .network a .bi {
        transition: none;
    }
    .network a .bi:hover {
        transform: scale(1);
    }

    /* links Contato */

    .links- li a:hover {
        text-decoration: none;
    }

    /* Rodapé */

    footer {
        padding: 2rem 0;
    }
}

/* Mobile */

@media (width <=576px) {

    /* Navegação */

    .nav-topo {
        padding: 1.5rem;
    }
    .links {
        display: none;
    }

    /* Sessáo - Apresentação */

    .apresentacao {
        height: 75vh;
        flex-wrap: wrap-reverse;
        align-content: center;
    }

    /* Botões - Contato e CV */

    .botoes {
        margin: 1rem 0 0 0;
    }

    /* Sessão - Sobre Mim */

    .dados {
        flex-direction: column;
    }

    /* Rodapé */

    .contato-info- a {
        font-size: 1rem;
    }
}

/* Mobile (tela virada) e tablet */

@media (width >=577px) and (width <=1200px) {

    /* Sessão - Apresentação */

    .apresentacao {
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;
    }
}