/* Mobile */

@media (width <=576px) {

    /* Navegação */

    nav {
        padding: 1.5rem 1rem;
    }
    .links {
        display: none;
    }

    /* Sessáo - Apresentação */

    .apresentacao {
        gap: 0;
        height: 75vh;
    }
    .apresentacao-img img {
        height: 15rem;
        width: 15rem;
    } 

    /* Sessão - Sobre Mim */

    .sobre-mim-img {
        display: none;
    }
    .sobre-mim-cabecalho {
        gap: 1.5rem;
    }
    .dados {
        flex-direction: column;
    }
    .curso,
    .habilidades {
        width: 100%;
        padding: 1.5rem;
    }

    /* Rodapé */

    #contato {
        height: 25vh;
    }
    .titulo-pagina {
        padding: 1rem;
    }
    .contato-info- a {
        font-size: 1rem;
    }
    footer {
        padding: 1.5rem 0 1.5rem 0;
    }
}

/* Tablet (tela em pé) */

@media (width >=577px) and (width <=768px) {

    /* Sessáo - Apresentação  */

    .apresentacao {
        flex-direction: row;
        height: 45vh;
        gap: 2rem;
    }
    .apresentacao-img img {
        height: 15rem;
        width: 15rem;
    }

     /* Sessão - Sobre Mim */

    .sobre-mim-img {
        display: none;
    }
    .sobre-mim-cabecalho {
        width: 100%;
        gap: 3rem;
    }

    /* Rodapé */

    #contato {
        height: 25vh;
    }
    footer {
        padding: 2rem 0;
    }
}

/*  Mobile e Tablet (tela virada) */

@media (width >=769px) and (width <=850px)   {

    /* Sessão - Apresentação */

    .apresentacao {
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .apresentacao-img img {
        height: 20rem;
        width: 20rem;
    } 

    /* Sessão - Sobre Mim */

    .sobre-mim-img {
        display: none;
    }

    /* Rodapé */

    #contato {
        height: 50vh;
    }
    footer {
        padding: 1.5rem 0;
    }
}

/*  Tablet (tela virada) */

@media (width >=851px) and (width <=1195px)   {

    /* Sessão - Apresentação */

    .apresentacao {
        height: 45vh;
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .apresentacao-img img {
        height: 20rem;
        width: 20rem;
    } 

    /* Sessão - Sobre Mim */

    .sobre-mim-img {
        display: none;
    }

    /* Rodapé */

    #contato {
        height: 30vh;
    }
    footer {
        padding: 1.5rem 0;
    }
}