/* Navegação  */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 3rem;
 }
 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-self: center;
    gap: 1rem;
 }
 .links li a {
    color: var(--color-primary);
    text-decoration: none;
    text-decoration-color: white;
    font-size: 1.5rem;
    font-weight: 400;
 }
 .links li a:hover {
    color: var(--color-secundary);
    text-decoration: underline;
    text-decoration-color: var(--color-secundary)
 }
 .links li a.home {
    color: var(--color-secundary);
 }
 .logo {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 0.1rem solid #000000;
    border-radius: 50%;
    padding: 1rem;
 }
 .logo:hover {
    cursor: default;
 } 

/* Informações de Contato */



/* Rodapé */ 

footer {
   max-width: var(--max-width);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   padding: 3rem;
   margin: auto;
   font-size: 1rem;
   font-weight: 600;
}