// Importações de utilitários
@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';

// Importações dos estilos base
@import 'base/reset';

// Importações de componentes

// Importações de layout
@import 'layout/header';
@import 'layout/footer';

// Estilos específicos de cada página
@import 'pages/index/index';
